DB_CONNECTION=
SERVICE_NAME=
TIMEZONE=
ORIGINS_CONFIGURATION=
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
RETRY_COUNT=
SLEEP_DURATION_PROVIDER=
CORS_POLICY_NAME=
JWT_EXPIRATION_MINUTES=
EVIDENCE_STORAGE_PROVIDER=
EVIDENCE_STORAGE_SERVICE_URI=
EVIDENCE_STORAGE_CONTAINER=
EVIDENCE_MAX_SIZE_BYTES=
EVIDENCE_READ_URI_MINUTES=
EVIDENCE_PURGE_RETENTION_DAYS=
